h1 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: black;
}

header{
  background-color:#cccccc;
}

.subheader{
  background-color:#e2e2e2;
}

ul{
  list-style:none;
  display:block;
}

li{
  float:left;
  padding-left:2em;
}


a{
  color:#0074D9;
  text-decoration:none;
}

a:hover{
  color:white;
  background-color:blue;
}

footer a:hover{
  color:#fff;
}

p,
h2,
dd,
dt{
  padding-left:.75rem;
  padding-right:.75rem;
}

.lightgrey{
  background-color:#e2e2e2;
}

.grey{
background-color:#cccccc;
}

footer a:hover{
  background-color: #fff;
}



/*-------MOON------*/

footer {
  background-color: #e2e2e2;
}

/*------------media---------------*/

@media only screen and (min-width: 20em){


.nav{
  text-align:center;
}

.nav li{
  display:inline-block;
}
}


@media only screen and (min-width: 38em){

.nav-ul{
  display:inline-block;
  width:100%;
}

.nav-ul li{
  float:left;
}
}


/*-------------Venus----------------------*/

.venus-1{
  margin-bottom: 1em;
}

.figure{
  padding: 0 2em;
}

.photos p{
  margin-top:0;
}
