@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color:#fff;
  font-family: sans-serif;
  line-height:1.3;
  font-size:100%;
}

*,*::before, *::after{
box-sizing: inherit;
}

body{
  margin:0;
}

.img-flex{
  width:100%;
  display:block;
}

a,
a:link,
a:visited{
  color:#0074D9;
  text-decoration:none;
}

.title{
  display:block;
  text-align:center;
}

.title a{
  color:#000;
  text-decoration:none;
}

.nav{
  padding:0;
  list-style-type:none;
}

.nav{
  padding:0;
  list-style-type: none;
}

.nav a{
  display:block;
  color:blue;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav a.current {
  background-color:#0074D9;
  color: #fff;
}

a{
  text-decoration:none;
  color:blue;
}

.section-dark{
  background-color:#ccc;
}

.section-mid{
  background-color:#e2e2e2;
}

.section{
  background-color:#efefef;
}




/*-------------*/
@media only screen and (min-width: 20em){


.nav li{
  display:inline-block;
  width:inherit;
}

ol{
  text-align:center;
}
}


/*-----Medium-----*/
@media only screen and (min-width: 38em){

.title,
.nav{
  text-align:left;
}



/*-------------Venus----------------------*/

.venus-1{
  margin-bottom: 1em;
}

.figure{
  padding: 0 2em;
}

.photos p{
  margin-top:0;
}

@media only screen and (min-width: 38em) {



/*-------------Moon----------------------*/

.grid-venus{
text-align: left;
}

.moons-venus p{
  text-align:center;
  margin:0;
}

.moons{
  margin-bottom:.5em;
  text-align: left;
}

.moons-venus a{
  color: black;
}

.moons ol{
  margin-bottom:1em;
  text-align:left;
}

/*-----Small-----*/
@media only screen and (min-width: 25em){

.moons ol{
  margin: 1em 0 1em 0;
}

.moons li{
  margin:0;
  padding: 0 0.25em;
}
}

/*-----Medium-----*/
@media only screen and (min-width: 38em){

.nav-ul{
  width:100%;
}
}
