
header{
  background-color:#cccccc;
}

body{
  margin:0;
}

/*----NAV----*/

h1 {
  text-align: center;
}

a{
  color:#0074D9;
  text-decoration:none;
  margin:0 0.6rem;
}

a:hover{
  color:white;
  background-color:blue;
}

.nav{
  text-align:center;
}

.nav li{
  display:inline-block;
  width:inherit;
}

.lightgrey{
  background-color:#e2e2e2;
}

.grey{
background-color:#cccccc;
}
/*-media-*/
@media only screen and (min-width: 38em){

.nav-ul{
  display:inline-block;
  width:100%;
}

.nav-ul li{
  float:left;
}
}

/*----SUBHEADER----*/

.subheader{
  background-color:#e2e2e2;
}

/*-------------Venus----------------------*/
/*-media-*/
@media only screen and (min-width: 38em) {

.venus-1{
  margin-bottom: 1em;
}

.figure{
  padding: 0 2em;
}

.photos p{
  margin-top:0;
}
}

/*----MOONS----*/

.moons dl{
  padding-left:0.5rem;
}

.h1-moons{
  text-align:center;
  background-color: #e2e2e2;
  margin-bottom:1.2rem;
  padding-bottom:0.5rem;
}

.moons-discovery{
  background-color:#eeeeee;
}

.moons-probe{
  background-color:#e2e2e2;
}

/*----EXPLORATION----*/

.exploration-h1 {
  background-color: #e2e2e2;
}

/*----FOOTER----*/


footer a:hover{
  color:#fff;
}

footer {
  background-color: #e2e2e2;
}

ul{
  list-style:none;
  display:block;
}

li{
  float:left;
  padding-left:2em;
}


@media only screen and (min-width: 20em){

footer li{
  padding:0;
}


  footer ul{
    text-align:left;
    padding-left:1.2rem;
  }
  }


@media only screen and (min-width: 38em){

footer ul{
  padding-top:0.5rem;
  padding-left:0;
}
}
